$colors: (
  'primary': #488aff,
  'secondary': #27c24c,
  'danger': #f53d3d,
  'light': #f4f4f4,
  'dark': #222,

  'lightgray': #c3c3c3,
  'black': #000000,
  'blue': #488aff,
  'red': #f53d3d,
  'purple': #9C27B0,
  'deeppurple': #673AB7,
  'lightblue': #23b7e5,
  'cyan': #00BCD4,
  'teal': #009688,
  'green': #27c24c,
  'lightgreen': #8BC34A,
  'lime': #CDDC39,
  'yellow': #FFEB3B,
  'amber': #FAD733,
  'orange': #FF9800,
  'deeporange': #FF5722,
  'gray': #9E9E9E,
  'bluegray': #607D8B,
  'indigo': #3F51B5,
  'pink': #E91E63,
  'brown': #795548
);

@each $profile, $color in $colors {
  .bgm-#{$profile} {
    background: $color;
  }

  .bgm-#{$profile}-shade1 {
    background: darken($color, 18%);
  }

  .bgm-#{$profile}-shade2 {
    background: darken($color, 35%);
  }

  .text-#{$profile} {
    color: $color;
  }

  button.bgm-#{$profile} {
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: darken($color, 8%);
    }
  }
}
